body {
    background-color: #0e0e0e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
  }
  .content{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://freepngimg.com/save/30788-claw-scratches/420x420');
  }
  
  .hero-wrapper {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-wrapper-title {
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d5d4d4;
    letter-spacing: 3px;
  }
  
  .subtitle {
    font-size: 24px;
    color: #09b;
    font-weight: 100;
    letter-spacing: 3px;
  }

  
  .hero-wrapper-description {
    font-size: 15px;
    color: #f5f4f4a5;
    line-height: 1.6;
    font-weight: 100;
    letter-spacing: 1px;
  }
  
  .about {
    font-size: 24px;
    color: #efeded;
    margin-bottom: 10px;
  }
  
  .bio {
    font-size: 13px;
    color: #f5f4f4a5;
    line-height: 1.6;
    font-weight: 100;
    letter-spacing: 1px;
  }

  .skillset{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
  }
  .skills{
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    --green: #40cf8e;
    --text-color: #bbbbbb;
    --white-color: #ededed;
    --black-color: #131313;
  }
  .box{
    font-size: 10px;
    text-align: center;
    padding: 8px;
    font-weight: 100;
    color: #f5f4f4a5;
    border-radius: 3px;
    border: 1px solid #2a2a2a;
    background-color: #1a1919;
  }
  .box2{
    font-size: 10px;
    text-align: center;
    padding: 8px;
    font-weight: 100;
    color: var(--green);
    border: 1px solid var(--green);
    padding: 3px 6px;
    border-radius: 2px;
    background-color: #40cf8f0f;
  }

  .experience{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
  }
  .texts{
    width: 100%;
    padding-top: 15px;
  }
  .con_text{
    width: 85%;
  }
  .date{
    width: 200px;
    padding-bottom: 10px;
    font-size: 18px;
    color: #f5f4f4a5;
    font-weight: 100;
  }
  .title_txt{
    font-size: 20px;
    font-weight: 100;
    color: #efeded;
  }

  .projects{
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    height: 730px;
    display: flex;
    flex-direction: column;
  }

  .hr{
    background-color: #484848;
    height: 1px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
  }
  .items{
    width: 100%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 20px;
  }
  .item{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #2a2a2a;
    background-color: #1a1919;
  }
  .top{
    font-size: 19px;
    color: #efeded;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .skl{
    width: 60%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
    color: #f5f4f4a5;
    line-height: 1.6;
    font-weight: 100;
    letter-spacing: 1px;
  }
  .icons{
    width: 90%;
    display: flex;
    justify-content: end;
    color: #bbbbbb;
  }
  .icon{
    font-size: 17px;
    margin-left: 20px;
  }
  .title{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .footer {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 15px;
    padding: 30px 0;
    border-top: 1px solid #2d2d2d;
    margin-top: 30px;
}
.footer span {
  font-size: 12px;
  color: #bbbbbb;
  letter-spacing: 1px;
}
.footer-social {
  display: flex;
  gap: 30px;
  font-size: 16px;
}

  @media screen and (min-width: 768px) {
    .hero-wrapper-title {
      font-size: 62px;
    }
  
    .subtitle {
      font-size: 62px;
    }
    .hero-wrapper-description{
        max-width: 750px;
        font-size: 20px;
    }
    .bio{
      font-size: 18px;
    }
    .content{
        padding-left: 50px;
        padding-right: 50px;
    }
    .skillset{
      padding-left: 50px;
      padding-right: 50px;
    }
    .box{
      font-size: 17px;
      padding: 10px;
    }  
    .box2{
      font-size: 17px;
      padding: 9px;
    }  
    .experience{
      padding-left: 50px;
      padding-right: 50px;
    }
    .projects{
      padding-left: 50px;
      padding-right: 50px;
      height: 450px;
      padding-bottom: 10px;
    }
    .footer{
      margin-left: 50px;
      margin-right: 50px;
      flex-direction: row;
    }
    .hr{
     margin-left: 50px;
     margin-right: 50px;
    }
    .date{
      padding-bottom: 0px;
      width: 14%;
    }
    .texts{
      display: flex;
      justify-content: space-between;
    }
    .item{
      width: 49%;
      height: 49%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
    }
    .icons{
      width: 90%;
      padding-top: 10px;
      display: flex;
      justify-content: end;
    }
    .icon{
      font-size: 25px;
      margin-left: 20px;
    }
    .title{
      width: 100%;
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    .skl{
      width: 48%;
      height: 40%;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .top{
      font-size: 24px;
      color: #efeded;
    }
  }
  
